/*! Base css: https://assets.codepen.io/573855/lr-codepen-base.css */
:root {
    --bg-color: #fff;
    --text-color: #1d1d1f;
    --link-color: #f47f5e;
    --link-hover-color: #bd5033;
    --text-spacing: 1.5em;
    --color-transparent: hsla(0, 0%, 100%, 0);
    --spacing: min(max(calc(1.3636363636vw + 0.5rem), 0.75rem), 1.5rem);
}

a {
    transition: color .2s ease-in-out;
}

a,
a:visited {
    color: var(--link-color);
}

a:active {
    color: var(--link-hover-color);
}

body {
    color: var(--text-color);
}

/*! Gsap Default Styles */
.viewport-wrapper {
    height: auto;
    overflow: visible;
    position: relative;
}

.content-scroll {
    display: block;
    width: 100%;
}

.content-scroll main {
    min-height: 100lvh;
}

/*! Gsap Styles when using ScrollSmoother */
body:not(.normalize-scroll) .viewport-wrapper {
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
}

body:not(.normalize-scroll) .content-scroll {
    overflow: visible;
    will-change: transform;
}

/*! Fix Flickering */

body:not(.is-touch) .pin-spacer .media-container,
body:not(.is-touch) .pin-spacer .wrapper {
    transform: scale(1.001);
}

[id*=video_scrub] {
    --media-bg-color: #52544e;
    --card-bg-color: 82,
        84,
        78;
    --card-text-color: #c7c7c5;
    --min-height: 37.5rem;
    background-color: var(--bg-color, var(--color-bg, #fff));
    overflow: hidden;
}

/*!  Needed to hide player controls in Safari Only */

[id*=video_scrub] *::-webkit-media-controls-play-button,
[id*=video_scrub] *::-webkit-media-controls-start-playback-button {
    display: none !important;
}

[id*=video_scrub] *::-webkit-media-controls-start-playback-button {
    -webkit-appearance: none;
}

/*! Pinned container*/
.pinned-container {
    display: block;
    position: relative;
}

.media-container,
.pinned-container {
    height: 100lvh;
    min-height: var(--min-height);
}

.media-container,
video {
    background-color: var(--media-bg-color, #000);
}

/*! Overlay Content */
.overlay-container {
    display: block;
    height: calc(100lvh * var(--height-multiplier, 3));
    margin-top: calc(max(var(--min-height), 100lvh) * -1);
    min-height: calc(var(--min-height) * var(--height-multiplier, 3));
    position: relative;
}

.overlay-items {
    height: 100%;
    width: 100%;
}

.overlay-item {
    display: block;
    height: 100lvh;
    left: 0;
    min-height: var(--min-height);
    pointer-events: none;
    position: absolute;
    top: var(--top-percent, 0);
    transform: translateY(var(--offset-top, 0));
    width: 100%;
}

.overlay-wrapper {
    display: flex;
    flex-direction: column;
    height: inherit;
    min-height: inherit;
    width: 100%;
}

.card-container {
    display: block;
    margin: auto;
    position: relative;
}

.card-content {
    max-width: 60ch;
    transfrom-origin: center;
}

.card-content:before {
    --bg-radius: 0.75rem;
    -webkit-backdrop-filter: blur(.5rem);
    backdrop-filter: blur(.5rem);
    background-color: rgba(var(--card-bg-color), .5);
    background-repeat: no-repeat;
    border-radius: max(.0625rem, min(var(--bg-radius), (100vw - var(--bg-radius) - 100%) * 9999))/var(--bg-radius);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.card-content .text-container {
    color: var(--card-text-color);
    padding: calc(var(--spacing) * 3) var(--spacing);
}

/*! Bottom pseudo mask */
.bottom-mask,
.card-content .text-container {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.bottom-mask {
    --mask-bg-color: var(--bg-color, var(--color-bg, #fff));
    --mask-corner-radius: 0;
    --mask-border-width: 0;
    --mask-border-width-offset: 0;
    --mask-min-wrapper-size: 75rem;
    align-items: flex-end;
    backface-visibility: hidden;
    border-bottom: .125rem solid var(--mask-bg-color);
    display: flex;
    height: 100lvh;
    justify-content: flex-end;
    /*! 2px offset to prevent rendering glitch in some browsers when using ScrollSmoother */
    margin-top: calc(-50lvh + .125rem);
    position: relative;
    transform: translate3d(calc(var(--mask-corner-radius) * -1), 0, 0);
    transform-origin: center center;
    width: calc(100% + var(--mask-corner-radius) * 2);
}

.bottom-mask .corner-bl-before,
.bottom-mask .corner-br-after {
    background-color: var(--mask-bg-color);
    display: block;
    height: 100%;
    width: calc(var(--mask-border-width-offset) + var(--mask-border-width));
}

.bottom-mask .corner-bl,
.bottom-mask .corner-br {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    height: var(--mask-corner-radius);
    width: var(--mask-corner-radius);
}

.bottom-mask .visible-area {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - (var(--mask-border-width-offset) + var(--mask-border-width)) * 2);
}

.bottom-mask[data-rounded] {
    --mask-corner-radius: 1.875rem;
}

.bottom-mask[data-rounded] .corner-bl {
    background: radial-gradient(circle at top right, var(--color-transparent) var(--mask-corner-radius), var(--mask-bg-color, var(--color-bg)) calc(var(--mask-corner-radius) + .0625rem));
}

.bottom-mask[data-rounded] .corner-br {
    background: radial-gradient(circle at top left, var(--color-transparent) var(--mask-corner-radius), var(--mask-bg-color, var(--color-bg)) calc(var(--mask-corner-radius) + .0625rem));
}

/*! The following styles are utilized solely for illustrative examples. */
.spacer {
    background-color: var(--bg-color, var(--color-bg, #fff));
    padding-bottom: calc(var(--spacing) * var(--spacing-after-mult, 3));
    padding-top: calc(var(--spacing) * var(--spacing-before-mult, 3));
    pointer-events: none;
}

body:not(.normalize-scroll) .content-scroll .spacer {
    border-bottom: .125rem solid var(--bg-color, var(--color-bg, #fff));
    height: calc(100% + .125rem);
    margin-bottom: -.0625rem;
    margin-top: -.0625rem;
    transform: scale(1.001);
}

.dummy-block {
    align-items: center;
    background-color: var(--bg-color, var(--color-bg, #fff));
    display: grid;
    height: 50lvh;
    justify-items: center;
    min-height: 18.75rem;
    place-items: center;
    text-align: center;
}

.dummy-block.cover {
    background-color: transparent;
    color: #c7c7c5;
    height: 100lvh;
    left: 0;
    min-height: 100lvh;
    pointer-events: none;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    z-index: 1;
}

.dummy-block h2,
.dummy-block h3 {
    font-weight: 500;
}

.dummy-block .text-container :is(h2, h3) {
    margin-bottom: 0;
}

.clamp-1 {
    -webkit-box-orient: vertical;
    /*! autoprefixer: off */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    overscroll-behavior: none;
    visibility: visible;
    word-wrap: break-word;
}

.clamp-1,
.clamp-2 {
    -webkit-hyphens: none !important;
    hyphens: none !important;
    white-space: normal !important;
}

.clamp-2 {
    -webkit-box-orient: vertical;
    /*! autoprefixer: off */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    overscroll-behavior: none;
    visibility: visible;
    word-wrap: break-word;
}

@media (hover:hover) and (pointer:fine) {
    a:hover {
        color: var(--link-hover-color);
    }

    a:active:not(:hover) {
        color: var(--link-color);
    }
}